body{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 69%, rgba(0,212,255,1) 100%);
    background-repeat: no-repeat;
    background-size: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold; 
    text-align: center;
}

p{
    color: white;
    font-family: Trebuchet MS;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
}
 
h1 {
    font-size: 6rem;
}
 
h2 {
    font-size: 3rem;
}

h3{
    font-size: 2rem;
}

.aboutus_board{
    margin-top:20%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.aboutUsTitle{
    --b: .5em; /* border width */
	--c: 3em; /* corner size */
	--r: 2em; /* corner rounding */
	position: relative;
	margin: 1em auto;
	border: solid var(--b) transparent;
	padding: 1em;
	max-width: 34em;
	font: 1.25em ubuntu, sans-serif;
	
	&::before {
		position: absolute;
		z-index: -1;
		inset: calc(-1*var(--b));
		border: inherit;
		border-radius: var(--r);
		background: linear-gradient(180deg, rgb(59, 158, 255) -1.2%, rgb(246, 135, 255) 91.6%) border-box;
		--corner: 
			conic-gradient(from -90deg at var(--c) var(--c), red 25%, #0000 0) 
				0 0/ calc(100% - var(--c))  calc(100% - var(--c)) border-box;
		--inner: conic-gradient(red 0 0) padding-box;
		-webkit-mask: var(--corner), var(--inner);
		-webkit-mask-composite: source-out;
						mask: var(--corner) subtract, var(--inner);
		content: ''
	}
}

.aboutUsTitle{
    margin-top: 30vh;
    margin-bottom: 30vh;
}

.panelTexto{
    margin-bottom: 130px;
}

.card {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.image img {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
}

.btn {
    height: 140px;
    width: 140px;
    border-radius: 50%
}

.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color: #000;
    color: #aeaeae;
    font-size: 15px
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.date {
    background-color: #ccc
}

.btn-secondary{
    background-color: white;
    border-radius: 0%;
}