.row-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .game-item {
    width: 15%; /* Cada imagen ocupa el 15% del ancho del contenedor */
    margin-right: 2%; /* Margen derecho para separar las imágenes */
  }
  
  /* Eliminar el margen derecho de la última imagen en cada fila */
  .game-item:last-child {
    margin-right: 0;
  }
  