.row-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .game-item {
    width: 15%; 
    margin-right: 2%; 
  }
  
  .game-item:last-child {
    margin-right: 0;
  }
  